<mat-card class="login-card">
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <h2>Login</h2>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password" />
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!loginForm.valid"
    >
      Login
    </button>
  </form>
</mat-card>
