<mat-sidenav-container fullscreen>
  <mat-sidenav mode="side" opened>
    <mat-toolbar color="primary">Hotel Admin</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="users" *ngIf="isAdmin()">Users</a>
      <a mat-list-item routerLink="rooms" *ngIf="isAdmin()">Rooms</a>
      <a mat-list-item routerLink="bookings">Bookings</a>
      <a mat-list-item routerLink="notifications" *ngIf="isAdmin()"
        >Notifications</a
      >
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>Welcome to Hotel Booking System</span>
    </mat-toolbar>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
