<mat-card>
  <h2>Login</h2>
  <form (ngSubmit)="login()">
    <mat-form-field class="full-width">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="email" name="email" required />
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Password</mat-label>
      <input
        matInput
        [(ngModel)]="password"
        type="password"
        name="password"
        required
      />
    </mat-form-field>
    <button mat-raised-button color="primary">Login</button>
  </form>
</mat-card>
